<h1>Confirmation du participation</h1>
<p>Bonjour  , on vous informe que {{ user.nom }} a participez au votre {{ typee }} qui debutera {{ e.DateDebut|date('Y-m-d') }} et
 se termine {{ e.DateFin|date('Y-m-d') }}</p>
