<h1>Confirmation du participation</h1>
<p>Bonjour {{ user.nom }} , on vous informe que vous avez participez au {{ typee }} qui debutera {{ e.DateDebut|date('Y-m-d') }} et
 se termine {{ e.DateFin|date('Y-m-d') }}</p>
