{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>RightJOB - FORUM</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/lg.png">

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link href='http://127.0.0.1/pidev/public/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="http://127.0.0.1/pidev/public/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/css/instructor-dashboard.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/css/instructor-responsive.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/css/style.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/css/responsive.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/css/night-mode.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/css/jquery-steps.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="http://127.0.0.1/pidev/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="http://127.0.0.1/pidev/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1/pidev/public/vendor/semantic/semantic.min.css">

{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="fcrse_1" style="margin-bottom: 20px;" >
                        <div class="user_dt5" style="margin-top: 10px; margin-left: 10px" >

                            <div class="user_dt_left">
                                <div class="live_user_dt">
                                    <div class="user_img5">
                                        <img src="http://127.0.0.1/pidev/public/images/left-imgs/img-15.jpg" alt="">
                                    </div>
                                    <div class="user_cntnt">
                                        <h4>Mahdi Ksemtini</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="live1452">
                            <div class="course_des_bg" style="margin-bottom: 10px;">
                                <div class="textarea_dt">
                                    <div class="ui form swdh339">
                                        <div class="field">
                                            <textarea rows="5" name="description" id="id_course_description" > Description | Question Description | Question Description </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div align="center"  >
                                <img style="margin-bottom: 10px;" src="http://127.0.0.1/pidev/public/images/courses/img-2.jpg" class="fcrse_img"  alt="">
                            </div>
                            <div class="upload__input" style="margin-bottom: 10px;">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                                        <label class="custom-file-label" for="inputGroupFile04">No Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div style="float: left;">
                                <a href="http://127.0.0.1/pidev/templates/publications/forum.html.twig"> <button class="Get_btn" >Annuler</button> </a>
                            </div>
                            <div style="float: right;">
                                <a href="http://127.0.0.1/pidev/templates/publications/forum.html.twig"> <button class="Get_btn" >Modifier</button> </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <footer class="footer mt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f1">
                        <a href="about_us.html">About</a>
                        <a href="our_blog.html">Blog</a>
                        <a href="career.html">Careers</a>
                        <a href="press.html">Press</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f1">
                        <a href="help.html">Help</a>
                        <a href="coming_soon.html">Advertise</a>
                        <a href="coming_soon.html">Developers</a>
                        <a href="contact_us.html">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f1">
                        <a href="terms_of_use.html">Copyright Policy</a>
                        <a href="terms_of_use.html">Terms</a>
                        <a href="terms_of_use.html">Privacy Policy</a>
                        <a href="#">Sitemap</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f3">
                        <a href="#" class="btn1542">Teach on Cursus</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="footer_bottm">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="fotb_left">
                                    <li>
                                        <a href="index.html">
                                            <div class="footer_logo">
                                                <img src="images/lg.png" alt="">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <p>© 2021 <strong>RightJOB</strong>. All Rights Reserved.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="edu_social_links">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}

{% block js %}
    <script src="http://127.0.0.1/pidev/public/js/vertical-responsive-menu.min.js"></script>
    <script src="http://127.0.0.1/pidev/public/js/jquery-3.3.1.min.js"></script>
    <script src="http://127.0.0.1/pidev/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="http://127.0.0.1/pidev/public/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="http://127.0.0.1/pidev/public/vendor/semantic/semantic.min.js"></script>
    <script src="http://127.0.0.1/pidev/public/js/custom.js"></script>
    <script src="http://127.0.0.1/pidev/public/js/night-mode.js"></script>

{% endblock %}