<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Evenement de loisir</title>
</head>
<body>
<center>
    <img src="{{ imageurl }}" alt="RightJob" height="175" width="400" />
    <h1>Nouvelle Evenement de loisir détecté</h1>
    <p>Cher administrateur, une nouvelle Evenement de loisir vient d'être créé sur Mon Blog</p>
</center>
</body>
</html>