<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quelqu'un veut changer votre mot de passe</title>
</head>
<body>
<center>
    <img src="{{ imageurl }}" alt="RightJob" height="175" width="400" />
    <br>
    <h1>Votre demande de changement de mot de passe à été effectué,</h1>
    <p> Si ce profil vous appartient </p>
    <p> Executer ce lien </p>
    <p><a href="{{ url('ChangePassword', {'email': email}) }}">Changer mot de pass</a></p>
    <p>Pour toute autre information veuillez nous contacter sur notre email RightJob.inc@gmail.com</p>
</center>
</body>
</html>