<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle reclamation</title>
</head>
<body>
<h1>Nouvelle Reclamation détecté</h1>
<p>Cher administrateur, une nouvelle reclamation vient d'être créé sur Mon Blog</p>
<h3>type : </h3>
<p>{{ type }}</p>
<h3>Description : </h3>
<p>{{ message }}</p>
</body>
</html>